<!doctype html>
<html lang="en">
<head>
    <%- include('head'); %>
</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <%- include('menulink'); %>

    <div id="menu">
        <%- include('menu'); %>
    </div>

    <div id="main">

        <div class='errorNotify'>
            Errore, impossibile salvare modifiche
        </div>

        <div class="content">

            <h1>Lista scadenze</h1>
            
            <% if (scaduti.length > 0) { %>
                <h3>Scaduti</h3>
                <table class="pure-table scaduti">
                    <thead>
                        <th>Nome</th>
                        <th>Scadenza</th>
                        <th>Q</th>
                        <th>Mangiato</th>
                    </thead>
                    <tbody>
                        <% for (var p in scaduti) { %>
                            <tr>
                                <td><%= scaduti[p].prodotto.nome %></td>
                                <td class='scadDate'><%= scaduti[p].scadenza %></td>
                                <td class='quantTd'><%= scaduti[p].quantita %></td>
                                <td><button class="pure-button mangiatoBtn" data-id="<%= scaduti[p].id %>" data-idprodotto="<%= scaduti[p].prodotto.id %>" >Mangiato</button></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>

            <% if (inScadenza.length > 0) { %>
                <h3>Stanno per scadere</h3>
                <table class="pure-table inscad">
                    <thead>
                        <th>Nome</th>
                        <th>Scadenza</th>
                        <th>Q</th>
                        <th>Mangiato</th>
                    </thead>
                    <tbody>
                        <% for (var p in inScadenza) { %>
                            <tr>
                                <td><%= inScadenza[p].prodotto.nome %></td>
                                <td class='scadDate'><%= inScadenza[p].scadenza %></td>
                                <td class='quantTd'><%= inScadenza[p].quantita %></td>
                                <td><button class="pure-button mangiatoBtn" data-id="<%= inScadenza[p].id %>" data-idprodotto="<%= inScadenza[p].prodotto.id %>" >Mangiato</button></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>

            <% if (scadenze.length > 0) { %>
                <h3>Non in scadenza</h3>
                <table class="pure-table">
                    <thead>
                        <th>Nome</th>
                        <th>Scadenza</th>
                        <th>Q</th>
                        <th>Mangiato</th>
                    </thead>
                    <tbody>
                        <% for (var p in scadenze) { %>
                            <tr>
                                <td><%= scadenze[p].prodotto.nome %></td>
                                <td class='scadDate'><%= scadenze[p].scadenza %></td>
                                <td class='quantTd'><%= scadenze[p].quantita %></td>
                                <td>
                                    <button class="pure-button mangiatoBtn" data-id="<%= scadenze[p].id %>" data-idprodotto="<%= scadenze[p].prodotto.id %>" >U</button>
                                    <button class="pure-button mangiatoTBtn" data-id="<%= scadenze[p].id %>" data-idprodotto="<%= scadenze[p].prodotto.id %>" >T</button>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>
        </div>
    </div>
</div>
<script>

    const stringToDate = (dateString, separator, r = true) => { //r = yyyy-mm-dd, not r = dd-mm-yyyy
        let dA = dateString.split(separator)
        if(dA.length !== 3)
            throw new Error("Impossibile parsare data");

        return new Date(`${dA[ r?0:2 ]}-${dA[1]}-${dA[ r?2:0 ]}T00:00:00`);
    }

    const outGiorni = async (data) => {
        let d = stringToDate(data, "-"),
            now = new Date(),
            start = new Date(),
            diff = now - d;

        let nomeGiorni = "G"
        
        start.setHours(0,0,0,0);
        diff -= now - start;
        diff -= diff%86400000;
        diff = diff/86400000;
        if(diff == 0)
            return "Scade oggi";
        else if(diff > 0)
            return `Da ${diff} ` + nomeGiorni
        else
            return `Tra ${diff * -1} ` + nomeGiorni
    }

    [...$(".scadDate")].forEach((e) => {
        outGiorni(e.innerText).then((x) => e.innerText = x);
    })

    $(".mangiatoTBtn").click( e => {
        id = e.target.getAttribute("data-idprodotto");
        idVero = e.target.getAttribute("data-id");
        
        $.post("/prodotto/"+ id +"/mangiato/tt", {
            idVeroMangiato: idVero
        }, (data, status, xht) => {
            console.log("asdasj")
            if(data.result === true || status !== 200){
                $(e.target).parent().parent().hide(300)
            }else{
                $(".errorNotify").animate({
                        top: 55
                    })
                setTimeout(function() {
                    $(".errorNotify").animate({
                        top: -55
                    })
                }, 3000);
            }
        })
        .fail(e => {
            $(".errorNotify").animate({
                    top: 55
                })
            setTimeout(function() {
                $(".errorNotify").animate({
                    top: -55
                })
            }, 3000);
        })
    })

    $(".mangiatoBtn").click( e => {
        id = e.target.getAttribute("data-idprodotto");
        idVero = e.target.getAttribute("data-id");
        
        $.post("/prodotto/"+ id +"/mangiato", {
            idVeroMangiato: idVero
        }, (data, status, xht) => {
            console.log("asdasj")
            if(data.result === true || status !== 200){
                if(data.nQuantita == 0)
                    $(e.target).parent().parent().hide(300)
                else
                    $(e.target).parent().parent().children(".quantTd").html(data.nQuantita)
            }else{
                $(".errorNotify").animate({
                        top: 55
                    })
                setTimeout(function() {
                    $(".errorNotify").animate({
                        top: -55
                    })
                }, 3000);
            }
        })
        .fail(e => {
            $(".errorNotify").animate({
                    top: 55
                })
            setTimeout(function() {
                $(".errorNotify").animate({
                    top: -55
                })
            }, 3000);
        })
    })
    
</script>
<script src="js/ui.js"></script>

</body>
</html>